/*  */
.wrapper{
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  position: relative;
  width: 100vw;
 

}
.box{
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

