.Artists {
  background-color: white; }

.artSection {
  display: flex; }
  @media (min-width: 312px) {
    .artSection {
      flex-direction: column; } }
  @media (min-width: 696px) {
    .artSection {
      flex-direction: column; } }
  @media (min-width: 1180px) {
    .artSection {
      flex-direction: row; } }

.artDesctiptionSecond,
.artDesctiptionThird,
.artDesctiptionForth,
.artDesctiption {
  align-self: center;
  width: 60rem;
  height: 40rem;
  margin-left: 3rem;
  padding: 3rem 13rem 1rem 6rem;
  color: black; }
  .artDesctiptionSecond p,
  .artDesctiptionThird p,
  .artDesctiptionForth p,
  .artDesctiption p {
    font-size: 1.5rem; }
  .artDesctiptionSecond h1,
  .artDesctiptionThird h1,
  .artDesctiptionForth h1,
  .artDesctiption h1 {
    text-align: right;
    font-size: 2rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem; }

@keyframes circle {
  from {
    background-color: rgba(255, 255, 255, 0); }
  to {
    background-color: white; } }
.artistImage {
  width: 70rem;
  height: 70rem;
  margin-bottom: 10rem; }
  @media (min-width: 312px) {
    .artistImage {
      width: 100vw;
      height: 70vh;
      margin-bottom: 2rem; } }
  @media (min-width: 696px) {
    .artistImage {
      width: 70vw;
      height: 70vh;
      margin-bottom: 5rem; } }
  @media (min-width: 1180px) {
    .artistImage {
      width: 70rem;
      height: 70rem;
      margin-bottom: 10rem; } }

@keyframes example {
  from {
    width: 0.1rem; }
  to {
    width: 10rem; } }
@keyframes another {
  from {
    width: 0.1rem; }
  to {
    width: 10rem; } }
.Navigation {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 0.2rem;
  -webkit-animation-name: example;
  -webkit-animation-duration: 5s;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  background-color: black;
  right: 2rem;
  padding-top: 7vh; }
  .Navigation ul a {
    text-decoration: none;
    color: white; }
  .Navigation ul:hover {
    font-size: 2rem; }
  .Navigation ul li {
    list-style-type: none;
    margin-left: 0.1rem;
    color: white;
    padding-bottom: 2rem;
    position: relative; }
    .Navigation ul li:after {
      content: '';
      width: 0%;
      height: 0.2rem;
      position: absolute;
      background: white;
      margin-bottom: 1.5rem;
      bottom: 0%;
      left: 50%;
      border-radius: 10px;
      transition: all 400ms ease; }
    .Navigation ul li:hover::after {
      left: 0%;
      width: 100%; }

.NavigationMain {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 0.2rem;
  -webkit-animation-name: example;
  -webkit-animation-duration: 5s;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  background-color: black; }
  .NavigationMain ul a {
    text-decoration: none;
    color: white; }
  .NavigationMain ul:hover {
    font-size: 2rem; }
  .NavigationMain ul li {
    list-style-type: none;
    margin-left: 0.1rem;
    color: white;
    padding-bottom: 2rem;
    position: relative; }
    .NavigationMain ul li:after {
      content: '';
      width: 0%;
      height: 0.2rem;
      position: absolute;
      background: white;
      margin-bottom: 1.5rem;
      bottom: 0%;
      left: 50%;
      border-radius: 10px;
      transition: all 400ms ease; }
    .NavigationMain ul li:hover::after {
      left: 0%;
      width: 100%; }
  @media (min-width: 312px) {
    .NavigationMain {
      left: 8rem;
      padding-top: 1vh; } }
  @media (min-width: 696px) {
    .NavigationMain {
      left: 23rem;
      padding-top: 6vh; } }
  @media (min-width: 1180px) {
    .NavigationMain {
      left: 61rem;
      padding-top: 7vh; } }

.constactMain {
  background-color: black;
  width: 100vw;
  padding-bottom: 10rem; }
  @media (min-width: 312px) {
    .constactMain {
      height: 100%; } }
  @media (min-width: 696px) {
    .constactMain {
      height: 100%; } }
  @media (min-width: 1180px) {
    .constactMain {
      height: 100vh; } }

.Contact {
  display: flex;
  font-family: 'Allerta Stencil', sans-serif; }
  @media (min-width: 312px) {
    .Contact {
      flex-direction: column; } }
  @media (min-width: 696px) {
    .Contact {
      flex-direction: row; } }
  @media (min-width: 1180px) {
    .Contact {
      flex-direction: row; } }

.contactInfo {
  margin: 10rem 10rem 0 10rem; }
  .contactInfo p {
    font-size: 2rem; }
  .contactInfo h1, .contactInfo h2 {
    font-size: 2rem; }

.contactMap {
  height: 50rem;
  border: 2px solid white; }
  @media (min-width: 312px) {
    .contactMap {
      width: 30rem;
      margin: 1rem 2rem; } }
  @media (min-width: 696px) {
    .contactMap {
      width: 45rem;
      margin: 10rem 0rem; } }
  @media (min-width: 1180px) {
    .contactMap {
      width: 60rem;
      margin: 10rem -3rem; } }

.contact_container_top {
  background-color: white; }
  @media (min-width: 312px) {
    .contact_container_top {
      width: 30rem;
      margin: 0 -8rem; } }
  @media (min-width: 696px) {
    .contact_container_top {
      width: 30rem;
      margin: 0 -7rem; } }
  @media (min-width: 1180px) {
    .contact_container_top {
      width: 60rem;
      margin: 0 -4rem; } }

.contact_container_medium {
  background-color: white;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
  height: 15rem;
  padding: 2rem 0 0 2rem; }
  @media (min-width: 312px) {
    .contact_container_medium {
      width: 30rem;
      margin: 3rem -8rem; } }
  @media (min-width: 696px) {
    .contact_container_medium {
      width: 30rem;
      margin: 3rem -5rem; } }
  @media (min-width: 1180px) {
    .contact_container_medium {
      width: 35rem;
      margin: 3rem 10rem; } }

.contact_container_bottom {
  color: white; }
  @media (min-width: 312px) {
    .contact_container_bottom {
      margin: 0 -7rem; } }
  @media (min-width: 696px) {
    .contact_container_bottom {
      margin: 0 -5rem; } }
  @media (min-width: 1180px) {
    .contact_container_bottom {
      margin: 0 -5rem; } }

.contact_icons i {
  font-size: 3rem;
  margin: 5rem 1rem;
  color: white; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Allerta Stencil', sans-serif; }

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  position: relative;
  width: 100vw; }

.logo {
  color: white;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-family: "Abril Fatface", cursive;
  margin: 2rem auto;
  font-size: 3rem; }

.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.lulu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 3px solid red;
  transition: 5s ease;
  z-index: 10; }

.Home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh; }
  .Home .section {
    width: 50%;
    text-align: center;
    padding-top: 45vh; }
    .Home .section h2, .Home .section h1 {
      font-size: 2rem; }
    .Home .section .left {
      background-color: white; }
    .Home .section.right {
      background-color: black;
      color: white; }

/*# sourceMappingURL=output.css.map */
